@import "variable_overrides";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
    width: 100%;
    height: 100%;
    background-color: #F7FBFE;
}

.title-color.title-color {
    color: #101C59;
}

.header-container {
    background-image: linear-gradient(to top, #DDECFE , #fff);
}

.header-button {
    color: #fff;
    background-image: linear-gradient(to right, #FD3F46 , #FD9F7D);
}

img {
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}